*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, h1{
    text-align: center;
}
body{
    margin:30px auto;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,60,121,1) 33%, rgba(0,212,255,1) 100%);
}

#resultado{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap:30px 10px;
}